.nav-section {
  position: fixed;
  width: 100%;
  /* background-color: #3a3838; */
  height: 60px;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-section-sub {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 40px;
}
.mission-ed-logo {
  display: flex;
  flex-direction: row;
}
.logo-text {
  cursor: pointer;
  color: #ff6200;
  text-shadow: black 0.1px 0.1px 0.1px;
  font-size: 25px;
}
.logo-text span {
  color: #fea53f;
}
.nav-bar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-primary {
  font-weight: 400;
  color: white;
  cursor: pointer;
  background-color: #ff914d;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.button-primary:hover {
  background-color: #ff914d;
  color: #ececec;
}
.account-login-button {
  align-self: center;
}
.button-secondary {
  cursor: pointer;
  margin-right: 10px;
  border: solid;
  border-width: 3px;
  color: #ececec;
  border-color: #ff914d;
  background-color: #ff914d;
  font-size: 22px;
  border-radius: 10px;
  font-weight: 400;
  padding-inline: 10px;
  padding-bottom: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.button-secondary:hover {
  opacity: 0.8;
}
.theme-button {
  justify-content: center;
  padding: 5px;
  padding-top: 8px;
  align-self: center;
  margin-right: 15px;
  border-radius: 30px;
}
.theme-button:hover {
  background-color: #616161;
  opacity: 0.5;
}
.account-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.account-icon {
  border-radius: 50%;
}
.account-icon:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.account-menu-box {
  position: absolute;
  width: 150px;
  padding-block: 10px;
  top: 110%;
  right: 1%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .account-icon-box .account-menu-box {
  display: none;
}
.account-icon-box:hover .account-menu-box {
  display: flex;
} */

/* .account-icon-box:hover .account-menu-box {
  height: 50px;
  display: none;
} */
.account-menu-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 28px;
  border: solid;
  border-width: 0;
  align-content: center;
  border-bottom-width: 0.5px;
  border-color: white;
}
.account-menu-item:hover {
  background-color: rgba(129, 129, 129, 0.767);
}
.account-menu-item-icon {
  margin-top: 3px;
  align-self: center;
  margin-inline: 10px;
}
.account-menu-item h4 {
  align-self: center;
}
.account-icon-box img {
  border-radius: 50%;
  border: solid rgb(221, 221, 221);
  border-width: 2px;
  width: 45px;
}
.account-icon-box img:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
